<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Share Poll</title>
    <%- include('partials/nav-bar') %>
  </head>
  <p></p>
  <p></p>
  <p></p>
  <body>
    <h1>Share Poll</h1>
    <p>
      Link to View your poll result:
      <a href="<%= pollLinks.admin_link %>" ,id="admin-link"><%= pollLinks.admin_link %></a>
    </p>
    <p>
      Share this link with your friends:
      <a href="/poll/<%= pollLinks.poll_id %>/vote" id="submission-link">/poll/<%= pollLinks.poll_id %>/vote</a>
    </p>
  </body>
</html>
